#websites {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    text-align: center;
}

.web-example {
    max-width: 700px;
    height: fit-content;
    margin: 50px;
}

.web-example a {
    color: #2e4d6f;
}

.web-example a:hover {
    color: #0e2843;
    font-weight: 700;
}

iframe {
    width: 498;
    height: 598;
    border: 1px inset #ddd;
}