header, footer, body {
    background-color: #031828;
    color: #d1bcf5;
}

.container {
    margin-bottom: 30px;
    display: flex;
    justify-content: center;
    text-align: center;
}

#text {
    margin-bottom: 40px;
}

#search {
    margin: 35px;
}

input {
    width: 150px;
}

button {
    width: fit-content;
}

#output {
    max-width: 700px;
    font-family: fantasy;
    font-size: 20px;
}

span {
    color: #971208;
    text-shadow: 0 0 3px #d1bcf5;
}

#img-container {
    display: flex;
    justify-content: center;
}

#picture {
    margin: 15px;
}

.height-adjust {
    height: 500px;
    width: auto;
}

.width-adjust {
    height: auto;
    width: 500px;
}
  
  