#video-section {
    background-image: radial-gradient(#FFF0F3, #007E6E , #10002B);
    padding: 15px;
    padding-bottom: 30px;
}

#video-container {
    display: flex;
    justify-content: center;
    margin-top: 30px;
}

.buttons {
    display: flex;
    justify-content: center;
    margin: 15px;
    margin-left: 15%;
    margin-right: 15%;
    flex-wrap: wrap;
}

.btn-circle {
    background-image: radial-gradient(#FFF0F3, #644a72 , #10002B);
    display: flex;
    width: 100px;
    height: 100px;

    justify-content: center;
    align-content: center;
    align-items: center;
    text-align: center;

    border-radius: 50%;
    margin-top: 30px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 25px;
}

.btn-circle:hover {
    background-image: radial-gradient(#10002B, #644a72 );
    box-shadow: 0 0 15px #FFFFB7;
    transition: transform .2s;
    transform: scale(1.2);
}

.btn-circle img {
    max-height: 100%;
    max-width: 100%;
}

#volume-bar-container {
    display: flex;
    align-items: center;
}


input[type=range] {
    height: 30px;
    -webkit-appearance: none;
    background-color: #0000;
    margin: 10px 0;
    width: 160px;
}

input[type=range]::-webkit-slider-runnable-track {
    height: 12px;
    box-shadow: 1px 1px 1px #938afa;
    background: #beb6ff;
    border-radius: 1px;
    border: 1px solid #eae7ff;
}

input[type=range]::-webkit-slider-thumb {
    box-shadow: 3px 3px 3px #eae7ff;
    border: 2px solid #938afa;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: #beb6ff;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}

input[type=range]::-webkit-slider-thumb:hover {
    box-shadow: 3px 3px 3px #f6ffe7;
    border: 2px solid #dcc4ad;
    height: 23px;
    width: 23px;
    border-radius: 23px;
    background: #e6ffb6;
    cursor: pointer;
    -webkit-appearance: none;
    margin-top: -7px;
}
