body {
    background-color: #e7d9f1;
    margin: 0;
    padding: 0;
}

#title , footer {
    background-color: #2e4d6f;
    color: #c4e5f4;
    text-align: center;
    margin: 0;
    
}

footer {
    width: 100%;
    bottom: 0;
}

h1 , h3 {
    padding: 30px;
    margin: 0;
}

img {
    width: 100px;
    height: auto;
    margin: 10px;
}

p {
    font-size: 16px;
    font-weight: 100;
}

.macro:hover , .micro:hover {
    background-color: #8ea0dd80;
    border-radius: 20%;
}

/* Flex Layout */
.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

#assignments {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 30px;
}

.assign-item {
    width: 175px;
    height: 175px;
    margin: 17px;
}

@media only screen and (min-width: 961px) {
    #assignments {
        max-width: 1300px;
    }
}

@media only screen and (max-width: 960px) {
    #assignments {
        max-width: 800px;
    }
}

@media only screen and  (max-width: 480px) {
    #assignments {
        max-width: 200px;
    }
}