.micro:hover {
    background-color: #d8f3ff75;
    border-radius: 20%;
}

.macro:hover {
    background-color: #8ea0dd80;
    border-radius: 20%;
}

/* Flex Layout */
.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

#assignments {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 30px;
}

.assign-item {
    width: 175px;
    height: 175px;
    margin: 17px;
}

@media only screen and (min-width: 961px) {
    #assignments {
        max-width: 1300px;
    }
}

@media only screen and (max-width: 960px) {
    #assignments {
        max-width: 800px;
    }
}

@media only screen and  (max-width: 480px) {
    #assignments {
        max-width: 200px;
    }
}