#title {
    font-size: 50px;
}

#day-quote {
    margin-left: 25%;
    margin-right: 25%;
    font-family: 'Kalam';
    font-size: 25px;
  /* text-shadow: 4px 4px 4px #aaa; */
}

button {
    margin: 15px;
    padding: 10px;
    border-radius: 25%;
}

#btn-quote {
    background-image: linear-gradient(#fffff0 , #CCDCFF);
    box-shadow: 
        1px 1px 3px #fffff0,
        -1px -1px 3px #fffff0;
    color: #431259;
    border:groove;
    margin-top: 5px;
}

#btn-light {
    background-color: #fffff0;
    color: #431259;

    border: 1px solid;
    box-shadow: 
        1px 1px 3px #10002B,
        -1px -1px 3px #10002B;
}

#btn-dark {
    background-color: #10002B;
    color: #fffff0;

    border: 1px solid;
    box-shadow: 
        1px 1px 3px #CCDCFF,
        -1px -1px 3px #CCDCFF;
}

#btn-light:hover , #btn-dark:hover , #btn-quote:hover{
    font-weight: 900;
}

/* assignments */

.micro:hover {
    background: var(--micro-background-color);
    border-radius: 30%;
}

.macro:hover {
    background: var(--macro-background-color);
    border-radius: 30%;
}

/* Flex Layout */
.container {
    display: flex;
    justify-content: center;
    text-align: center;
}

#assignments {
    display: flex;
    justify-content: center;
    align-content: center;
    flex-wrap: wrap;
    margin: 30px;
}

.assign-item {
    width: 175px;
    height: 175px;
    margin: 17px;
}

@media only screen and (min-width: 961px) {
    #assignments {
        max-width: 1300px;
    }
}

@media only screen and (max-width: 960px) {
    #assignments {
        max-width: 800px;
    }
}

@media only screen and  (max-width: 480px) {
    #assignments {
        max-width: 200px;
    }
}