body {
    background-color: #5251743c;
}

#form-data {
    margin: 50px;
    text-align: center;
}

#form {
    text-align: center;
    margin: auto;
    padding: 15px;
}

#submit {
    display: block;
    margin: auto;
}

#database {
    overflow-x:auto;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: auto;
    border-radius: 30px;
}

table, td, th {
    border: 1px solid #184E77;
    color: #34A0A4;
    padding: 5px;
}

td, th {
    max-width: 200px;
    text-align: center;
    margin: auto;
    padding: 10px;
}

th {
    font-family: 'Gamja Flower', cursive;
    height: 55px;
    font-size: 25px;
}

tr:nth-child(even) {
	background-color: #5251743c;
}

tr:hover {
	background-color: #184E77;
    color: #F0F3BD;
}

.data-img {
    height: 600px;
    width: auto;
}