#form-data {
    margin: 50px;
    text-align: center;
}

#form {
    text-align: center;
    margin: auto;
    padding: 15px;
}

#col-check {
    display: flex; 
    align-items: center; 
    align-content:center; 
    justify-content: center;
    flex-wrap:wrap;
}

#col-check label {
    font-family: 'Gamja Flower', cursive; 
    margin: 15px;
    font-size: 20px;
}

#col-check input {
    margin: 5px;
}

#symbol, #season, #maintenance {
    margin: 15px;
}

#submit {
    color: #FFF;
    background-color: #513B56;

    font-family: 'Gamja Flower', cursive; 
    font-size: 18px; 

    display: block;
    margin: auto;
    border: none;
    border-radius: 20px;
    padding:10px; 
}

#submit:hover {
    background-color: #525174;
}

#database {
    overflow-x:auto;
}

table {
    width: 90%;
    border-collapse: collapse;
    margin: auto;
    border-radius: 30px;
}

table, td, th {
    border: 1px solid #184E77;
    color: #184E77;
    padding: 5px;
}

td, th {
    max-width: 200px !important;
    text-align: center;
    margin: auto;
    padding: 10px;
}

th {
    font-family: 'Gamja Flower', cursive;
    height: 55px;
    font-size: 25px;
}

tr, td {
    font-family: 'Indie Flower', cursive;
}

tr:nth-child(even) {
    background-color: #5251743c;
}

tr:hover {
    background-color: #B5E48C;
}

.data-img {
    object-fit: cover;
    width: 100%;
    height: auto;
}

.no-data {
    font-size: 35px;
    padding: 15px;
}

footer {
    background-color: #9eb8b2;
}