.section {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;

    margin-bottom: 100px;
    flex-wrap: wrap;
    min-width:100%;
}

/*********************** Plant Care Tip ***********************/

#plant-care {
    color: #fff;
    text-shadow: 5px 5px 15px #348AA7;
}

*, *:before, *:after {
    box-sizing: border-box;
}

.cards-tips {
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
    
    margin-top: 50px;
}

.card-container {
    margin-top: 20px;
    width: 500px;
    text-align: center;
}

.wrapper {
    padding-top: 40px;
    padding-bottom: 40px;
}

.wrapper:focus {
    outline: 0;
}

.card {
    background: #fff;
    width: 300px;
    display: inline-block;
    margin: auto;
    border-radius: 19px;
    position: relative;
    text-align: center;
    box-shadow: 5px 5px 15px #348AA7;
    z-index: 9999;
}

.card:hover {
    transform: scale(1.05);
    box-shadow: 5px 5px 15px #184E77;
}

.card-img {
    position: relative;
    height: 230px;
    margin-bottom: 35px;
    border-top-left-radius: 14px;
    border-top-right-radius: 14px;
}

.card img {
    width: 100%;
    position: absolute;    
    top: -76px;
    left: 0px;
}

#tip-one img {
    filter: drop-shadow(0 0 4px #02C39A);
}

#tip-two img {
    top: -46px;
    filter: drop-shadow(2px 2px 4px #52B69A);
}

#tip-two .card-img {
    background-color: #F0F3BD;
}

#tip-three img {
    width: 110%;
    top: -46px;
    left: -10px;
    filter: drop-shadow(2px 2px 4px #168AAD);
}

#tip-three .card-img {
    background-color: #000;
}

#tip-four img {
    top: -116px;
    filter: drop-shadow(0 2px 4px #02C39A);
}

#tip-four .card-img {
    background-color: #F0F3BD;
}

#tip-five img {
    width: 110%;
    top: -36px;
    left: 2px;
    filter: drop-shadow(0 0 4px #F0F3BD);
}

#tip-five .card-img {
    background-color: #76C893;
}

#tip-six img {
    width: 110%;
    top: -36px;
    left: -15px;
    filter: drop-shadow(0 2px 4px #BCE784);
}

#tip-seven img {
    width: 155%;
    top: -36px;
    left: -65px;
    filter: drop-shadow(2px 2px 4px #F0F3BD);
}

#tip-seven .card-img {
    background-color: #000;
}

.card-tip  {
    text-transform: uppercase;
    font-size: 16px;
    font-family: "Gamja Flower", cursive;
    font-weight: 700;
    margin-bottom: 3px;
    color: #184E77;
}

.card-tip-label {
    font-family: "Gamja Flower", cursive;
    font-size: 28px;
    color: black;
    font-weight: 900;
    margin-bottom: 5px;
}

.card-tip-description {
    font-family: "Indie Flower", cursive;
    padding: 20px;
    margin-bottom: 10px;  
}
